# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
.vsconfig

# Ignore build outputs
bin/
obj/

# Ignore NuGet packages
*.nupkg
packages/

# Ignore .NET Core / .NET 5+ dependencies
project.lock.json
project.assets.json
.DS_Store

# Ignore logs and database files
logs/
*.log
*.db
*.mdb
*.bak
*.ldf

# Ignore environment variables
.env
secrets.json

# Ignore temporary files
*.tmp
*.temp
*.cache
*.old
*.pid
*.swp

# Ignore publish output
publish/
wwwroot/

# Ignore Rider / JetBrains IDE settings
.idea/
*.iml

# Ignore editorconfig files
.editorconfig

# Ignore cache files
*.cache

